.checkout-page
    padding: 70px 0 
    background: #fafafa

    .checkout-form
        background: #fff
        border-radius: 8px
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.09)
        overflow: hidden
        padding: 30px
        width: 700px
        max-width: 100%
        margin: 0 auto

        .payment-section 
            margin-top: 5px

            h2
                font-size: large


            .field-group 
                display: flex
                gap: 20px

                .field 
                    flex: 1

                    label 
                        display: block
                        margin-bottom: 5px

                    input 
                        width: 100%
                        padding: 8px
                        box-sizing: border-box
            
            .field-error 
                color: red
                font-size: 0.9em
            
            .has-error 
                border-color: red
            