@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px 35px;
  border-radius: 300px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-primary {
  background: #083da5;
  color: #fff;
}
.btn-primary:hover {
  background: #00246b;
}

.btn-outlined {
  border: 1px solid #083da5;
  background: #fff;
  color: #083da5;
}
.btn-outlined:hover {
  background: #00246b;
  color: #fff;
}

.btn-block {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  background: linear-gradient(to bottom, #083da5, #00246b);
  padding: 100px 25px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 50% 50%;
  color: #fff;
}
.page-header h1 {
  font-size: 45px;
  font-weight: 600;
}
.page-header h3 {
  font-size: 24px;
  font-weight: 300;
}

.home-header {
  background: linear-gradient(to bottom, #083da5, #00246b);
  padding: 100px 25px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 40% 40%;
}
.home-header .home-header-text {
  text-align: center;
  color: #fff;
}
.home-header .home-header-text .title {
  font-size: 40px;
  font-weight: 700;
}
.home-header .home-header-text .tagline {
  font-size: 20px;
  font-weight: 300;
}
.home-header .home-header-search {
  margin-top: 20px;
}
.home-header .home-header-search input {
  width: 600px;
  max-width: 100%;
  border-radius: 300px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #00246b;
}
.home-header .home-header-search input:focus {
  outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5101fe;
  color: white;
  padding: 10px 20px;
}
.navbar .navbar-title {
  font-size: 24px;
  font-weight: bold;
}
.navbar .navbar-icons {
  display: flex;
  align-items: center;
}
.navbar .navbar-icons .icon {
  padding: 0 10px;
  font-size: 24px;
  position: relative;
}
.navbar .navbar-icons .info-count {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #ff36f7;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, -13%);
}
.navbar .navbar-icons .info-count:hover {
  cursor: pointer;
  color: #ffffff;
}

.products-section {
  padding: 70px 0;
}
.products-section .section-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: dark-gray;
  margin-bottom: 30px;
}

.login-page {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-form-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}
.login-page .login-form-box .login-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.field {
  margin-bottom: 25px;
}
.field input, .field select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 200px;
  border: 1px solid #ddd;
}
.field .has-error {
  border-color: #ff0000;
}

.field-error {
  color: #ff0000;
  font-size: 13px;
  margin-top: 2px;
}

.accounts-page {
  padding: 50px 15px;
}
.accounts-page .u-box {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accounts-page .u-box .user-info .account-info {
  font-size: 25px;
  font-weight: 600;
  color: #5022f8;
}
.accounts-page .u-box .user-info .user-name {
  font-style: italic;
  font-style: 15px;
  font-weight: 400;
}
.accounts-page .u-box .user-info .user-email {
  font-style: italic;
  font-style: 15px;
  font-weight: 400;
}

.product-box {
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 40 px 0 rgba(49, 32, 138, 0.05);
  text-align: center;
  max-width: 270px;
  transition: all 0.5s ease;
}
.product-box:hover {
  box-shadow: 0 10px 50px 2px rgba(0, 0, 0, 0.15);
}
.product-box:hover .image {
  background: linear-gradient(to bottom right, #00246b, #064cd8);
}
.product-box:hover .image .add-to-wishlist {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 200px;
  padding: 10px 25px;
  width: 200px;
  max-width: 90%;
  font-weight: 400;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.product-box:hover .image .add-to-wishlist:hover {
  background: rgba(6, 65, 184, 0.8352941176);
  color: #fff;
}
.product-box .image {
  background: #f6f7fb;
  height: 230px;
  width: 270px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  position: relative;
}
.product-box .image img {
  max-height: 100%;
  max-width: 100%;
}
.product-box .image .add-to-wishlist {
  display: none;
}
.product-box a {
  text-decoration: none;
}
.product-box .product-title {
  font-size: 18px;
  font-weight: 500;
  color: #083da5;
  margin-bottom: 10px;
}
.product-box .color-platelets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.product-box .color-platelets .color-platelete {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #000;
}
.product-box .product-category {
  color: #6f6f6f;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 10px;
}
.product-box .product-price {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #260080;
}

.products-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.product-page {
  padding: 50px 15px;
}
.product-page .product-page-row {
  display: flex;
}
.product-page .product-page-row .product-page-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-page .product-page-row .product-page-details {
  width: 50%;
}
.product-page .product-page-row .product-page-details .p-title {
  color: #083da5;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}
.product-page .product-page-row .product-page-details .p-title::after {
  content: "";
  position: absolute;
  width: 200px;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #083da5;
}
.product-page .product-page-row .product-page-details .p-price {
  color: #083da5;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
.product-page .product-page-row .product-page-details .p-category {
  font-weight: 300;
  font-size: 16px;
  color: grey;
  font-style: italic;
  margin-bottom: 10px;
}
.product-page .product-page-row .product-page-details .p-description {
  font-size: 16px;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 20px;
}
.product-page .product-page-row .product-page-details .p-form {
  margin-bottom: 20px;
}
.product-page .product-page-row .product-page-details .p-form label {
  display: inline-block;
  width: 75px;
}
.product-page .product-page-row .product-page-details .p-form .p-colors {
  margin-bottom: 12px;
}
.product-page .product-page-row .product-page-details .p-form .p-colors select {
  min-width: 200px;
  height: 35px;
  border-radius: 200px;
  padding: 5px 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #083da5;
  color: #083da5;
  font-size: 15px;
  font-weight: 600;
}
.product-page .product-page-row .product-page-details .p-form .p-quantity input {
  min-width: 200px;
  height: 35px;
  border-radius: 200px;
  padding: 5px 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #083da5;
  color: #083da5;
  font-size: 15px;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-page .product-page-row .product-page-details .btn-cart {
  background-color: #083da5;
  color: #fff;
  height: 40px;
  width: 100%;
  transition: all 0.5s ease;
}
.product-page .product-page-row .product-page-details .btn-cart:hover {
  background: #5101fe;
}

.pop-up {
  background: rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.pop-up .pop-up-box {
  background: #fff;
  padding: 100px;
  text-align: center;
  border-radius: 10px;
}
.pop-up .pop-up-box .pop-up-title {
  color: #083da5;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.pop-up .pop-up-box .pop-up-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cart-page {
  padding: 70px 15px;
  background: #fafafa;
}
.cart-page .cart-table {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.cart-page .cart-table .table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.cart-page .cart-table .table thead tr {
  background: #083da5;
  color: #fff;
}
.cart-page .cart-table .table thead tr th {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}
.cart-page .cart-table .table tbody tr td {
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
}
.cart-page .cart-table .table tbody tr td .cart-item-title {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
  color: #083da5;
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-page .cart-table .table tbody .cart-total td {
  font-size: 20px;
  font-weight: 600;
  color: #083da5;
}
.cart-page .cart-actions {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.checkout-page {
  padding: 70px 0;
  background: #fafafa;
}
.checkout-page .checkout-form {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.09);
  overflow: hidden;
  padding: 30px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.checkout-page .checkout-form .payment-section {
  margin-top: 5px;
}
.checkout-page .checkout-form .payment-section h2 {
  font-size: large;
}
.checkout-page .checkout-form .payment-section .field-group {
  display: flex;
  gap: 20px;
}
.checkout-page .checkout-form .payment-section .field-group .field {
  flex: 1;
}
.checkout-page .checkout-form .payment-section .field-group .field label {
  display: block;
  margin-bottom: 5px;
}
.checkout-page .checkout-form .payment-section .field-group .field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.checkout-page .checkout-form .payment-section .field-error {
  color: red;
  font-size: 0.9em;
}
.checkout-page .checkout-form .payment-section .has-error {
  border-color: red;
}
